apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookinfo-productpage
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: productpage
  template:
    metadata:
      labels:
        app: productpage
    spec:
      containers:
      - name: productpage
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 9080
